* {
  box-sizing: border-box;
}
main{
    width: 90%;
    margin: auto;
}
img {
  width: 100%;
}
section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
div {
  padding: 0%;
  border: 1px solid gray;
  border-radius: 5px;
}

/*reszponzivitas*/